.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(31, 31, 31);
}

.logo {
  height: 65px;
  width: 65px;
  margin: 10px 0px 10px 55px;
}

/* 
.text {
  display: flex;
  justify-content: flex-end;
} */

.list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-right: 100px;
}

.link {
  margin-right: 25px;
  font-size: 18px;
  color: rgb(255, 255, 255);
}
